*.class
*.DS_Store

target/

*.iml
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/target/
/generated/
/yasper/target/*

.classpath
.idea/
.project
.settings/

*.iml
rsp-spin-converter/*
*/demoApplication.log
demoApplication.log

install.sh
